@import "antd/dist/antd.css";

// Datepicker

div.ant-picker {
  @apply w-full rounded-md px-4 py-4 font-medium text-sm leading-[normal] h-auto border border-default shadow;

  &.ant-picker-range {
    @apply text-center;

    input {
      @apply text-center text-sm;
    }
  }

  .ant-picker-range-separator {
    @apply leading-none;
    .ant-picker-separator {
      @apply text-sm h-auto leading-none;
    }
  }

  input {
    @apply text-sm h-auto leading-[normal] font-normal;
  }
  .ant-picker-active-bar {
    @apply bg-primary-600;
  }

  &:hover {
    @apply border-primary-500;
  }

  &.ant-picker-focused {
    @apply shadow-input;
  }
}

div.ant-picker-dropdown {
  .ant-picker-panels {
    @apply flex-wrap justify-center items-center;
  }
  .ant-picker-header {
    button {
      @apply hover:text-primary-500;
    }
  }

  .ant-picker-body {
    .ant-picker-cell-today {
      .ant-picker-cell-inner {
        @apply before:border-primary-500;
      }
    }
    .ant-picker-cell-selected,
    .ant-picker-cell-range-start,
    .ant-picker-cell-range-end {
      .ant-picker-cell-inner {
        @apply bg-primary-500;
      }
    }
    .ant-picker-cell-range-hover-start,
    .ant-picker-cell-range-start,
    .ant-picker-cell-range-end {
      @apply before:bg-primary-500 before:opacity-10;
    }

    .ant-picker-cell-in-range {
      @apply before:bg-primary-500 before:opacity-10 transition;
      .ant-picker-cell-inner {
        @apply after:bg-primary-500 after:opacity-30;
      }
    }

    .ant-picker-cell-range-hover,
    .ant-picker-cell-range-hover-end {
      @apply after:border-primary-500;
    }
  }
  .ant-picker-footer {
    .ant-picker-today-btn {
      @apply text-primary-500;
    }
  }
}

// Radio

div.ant-radio-group {
  @apply flex leading-['normal'] h-auto;
  .ant-radio-wrapper {
    @apply text-default-text;
  }
}

label.ant-radio-button-wrapper {
  @apply px-8 py-2 leading-['normal'] h-auto bg-transparent border border-solid border-primary-500 flex-auto text-base;
  &:not(:first-child)::before {
    @apply w-0;
  }
  &::after {
    @apply transition opacity-0 absolute top-0 left-0 w-full h-full -z-[1] bg-primary-500;
  }
  &.ant-radio-button-wrapper-checked {
    @apply shadow-none bg-primary-500 border-primary-500 text-white;
    &::after {
      @apply opacity-100;
    }
  }
}

// Input

input.ant-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  line-height: normal;
  height: auto;
  color: #000;

  &::placeholder {
    font-weight: 500;
  }

  &:hover,
  &:focus {
    border: 1px solid #e3000f;
    box-shadow: 0 0 5px 0 #e3000f;
  }

  &.ant-input-disabled {
    // &::placeholder {
    //   color: #fff;
    // }

    color: #fff;
    background: #ccc;
    border: 1px solid #ccc !important;
    box-shadow: none !important;
  }
}

span.ant-input-search {
  min-width: 5rem;
  .ant-input-wrapper {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 0.3s all;
    background: #fff;

    &:focus-within,
    &:hover {
      border: 1px solid #e3000f;
      box-shadow: 0 0 5px 0 #e3000f;
    }

    input.ant-input {
      height: auto !important;
      line-height: normal !important;
      border: none !important;
      box-shadow: none !important;
      padding: 1rem;
      font-size: 1rem;
      transition: 0.3s all;
      flex: 1;
      &::placeholder {
        font-weight: 500;
      }
    }

    .ant-input-group-addon {
      width: auto;
      background: transparent;
      left: 1px;
      button.ant-btn {
        height: 100% !important;
        width: 100%;
        line-height: normal !important;
        transition: 0.3s all;
        border: none;

        &.ant-btn-icon-only {
          width: 100%;
          height: 100%;
          padding: 0;
          padding-right: 1rem;
          .anticon {
            font-size: 1rem;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

// Select
div.ant-select-dropdown {
  @apply p-0 rounded-md;
  .ant-select-item {
    &.ant-select-item-option-active,
    &.ant-select-item-option-selected {
      @apply bg-primary text-white;
    }
    @apply bg-white text-sm p-4 font-normal;
    .ant-select-item-option-state {
      @apply flex justify-center items-center text-blumine;
    }
  }
}

div.ant-select {
  @apply min-w-[12rem] w-full text-left text-sm;

  &.ant-select-multiple {
    &.ant-select-focused {
      .ant-select-selector {
        @apply border-primary #{!important};
      }
    }
    .ant-select-selector {
      @apply p-4 rounded-md hover:border-primary;
      .ant-select-selection-item {
        @apply text-[1em] leading-none flex justify-center items-center h-auto p-2 m-0 mr-2;
        .ant-select-selection-item-remove {
          .anticon-close {
            @apply text-[1em] leading-none;
          }
        }
      }
      .ant-select-selection-overflow-item-suffix {
        @apply p-0;
        input {
          @apply ring-0 text-[1em];
        }
      }
      .ant-select-selection-overflow-item {
        .ant-select-selection-search {
          @apply m-0;
        }
      }
      .ant-select-selection-placeholder {
        @apply p-0 left-[unset] right-[unset];
      }
    }
  }

  // .ant-select-selector {
  //   border-radius: 10px !important;
  //   padding: 1rem !important;
  //   line-height: normal !important;
  //   height: auto !important;

  //   .ant-select-selection-item {
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     line-height: normal;
  //     height: auto;
  //     font-size: 1rem;
  //   }

  //   .ant-select-selection-search {
  //     left: 1rem;
  //     input {
  //       height: 100% !important;
  //       line-height: normal !important;
  //     }
  //   }
  // }

  // &:hover .ant-select-selector {
  //   border: 1px solid #e3000f !important;
  //   // box-shadow: 0 0 10px 0 #a8c440;
  // }

  // .ant-select-arrow {
  //   color: inherit;
  //   font-size: 0.8rem;
  //   display: flex;
  //   justify-content: flex-end;
  //   align-items: center;
  // }

  // &.ant-select-focused.ant-select-single:not(.ant-select-customize-input) {
  //   .ant-select-selector {
  //     border: 1px solid #e3000f !important;
  //     // box-shadow: 0 0 10px 0 #a8c440;
  //   }
  // }

  // &.ant-select-disabled.ant-select:not(.ant-select-customize-input)
  //   .ant-select-selector {
  //   background: #e8e8e8;
  //   border: 1px solid #c1c1c1;
  // }

  // &.ant-select-multiple {
  //   .ant-select-selection-item {
  //     padding: 0;
  //   }
  // }
}

form.ant-form {
  @apply text-base;
  .ant-form-item {
    @apply mb-0 text-[1em] [&_label:not(.ant-checkbox-wrapper)]:focus-within:text-blumine [&_input]:focus-within:shadow-none [&_input]:focus-within:border-blumine;
    &.ant-form-item-has-error {
      input {
        @apply border-danger focus:shadow-danger;
      }
    }
    &.ant-form-item-with-help {
      .ant-upload-select {
        @apply border border-default;
      }
    }
    div.ant-form-item-label {
      @apply p-0;
      label {
        @apply w-full text-[1em] leading-[normal];
      }
    }

    .ant-form-item-control-input {
      @apply min-h-0;
    }

    div.ant-form-item-explain {
      @apply py-1 text-[.875em];
      .ant-form-item-explain-error {
        @apply text-danger mb-0;
      }
    }
  }
}

// Table

div.ant-table-wrapper {
  @apply flex flex-auto flex-col;
  .ant-spin-nested-loading,
  .ant-spin-container,
  .ant-table,
  .ant-table-container,
  .ant-table-content {
    @apply flex flex-col flex-auto;
  }
  .ant-table {
    @apply rounded-3xl text-default-text text-base overflow-hidden shadow-lg;

    .ant-table-title {
      @apply p-0;
    }

    .ant-table-content {
      @apply overflow-auto;
      table {
        @apply flex-auto;
      }
      thead.ant-table-thead {
        th.ant-table-cell {
          @apply bg-inherit text-slate-500 font-normal border-b border-b-slate-300 border-r-0 text-sm py-6 whitespace-nowrap;
          &.table-data-overlay {
            @apply hidden;
          }
          &:before {
            @apply hidden;
          }
        }
      }

      tbody.ant-table-tbody {
        tr.ant-table-row {
          // [&>td]:last-of-type:border-b-0
          @apply cursor-pointer relative;
          td.ant-table-cell {
            @apply font-normal text-base border-b-slate-300 py-4;
            &.table-data-overlay {
              @apply opacity-0 transition absolute inset-0 h-full w-full flex items-center justify-center bg-primary-500 bg-opacity-50;
            }
            &.ant-table-cell-row-hover {
              @apply bg-primary-500 bg-opacity-70;
              &.table-data-overlay {
                @apply opacity-100;
              }
            }
            span.anticon {
              @apply text-slate-300 text-2xl transition hover:opacity-70;
            }
          }
        }
      }
    }

    &.ant-table-ping-left:not(.ant-table-has-fix-left)
      .ant-table-container::before,
    &.ant-table-ping-right:not(.ant-table-has-fix-right)
      .ant-table-container::after {
      @apply rounded-2xl;
    }

    // &.ant-table-bordered {
    //   .ant-table-container {
    //     border: 1px solid #e4e8f4;
    //     border-right: 0;
    //     border-bottom: 0;
    //     border-radius: 10px;
    //   }

    //   tr {
    //     th {
    //       background: inherit;
    //       color: inherit;
    //       font-weight: 700;
    //       border-bottom: 1px solid #e4e8f4;
    //       border-right: 0 !important;
    //       &:last-child {
    //         border-right: 1px solid #e4e8f4 !important;
    //       }
    //     }
    //     &:first-child th {
    //       &:first-child {
    //         border-top-left-radius: 10px;
    //       }
    //       &:last-child {
    //         border-top-right-radius: 10px;
    //       }
    //     }
    //     &:last-child td {
    //       &:first-child {
    //         border-bottom-left-radius: 10px;
    //       }
    //       &:last-child {
    //         border-bottom-right-radius: 10px;
    //       }
    //     }
    //   }
    // }
  }

  ul.ant-pagination {
    @apply items-center text-primary;
    li {
      @apply leading-[normal] h-auto rounded-none m-0 shadow-md text-inherit;
      &.ant-pagination-jump-next,
      &.ant-pagination-jump-prev {
        @apply shadow-none;
        .ant-pagination-item-container {
          @apply flex align-middle justify-center;
        }
        .ant-pagination-item-link-icon {
          @apply text-primary;
        }
        .ant-pagination-item-ellipsis {
          @apply text-inherit;
        }
      }

      &.ant-pagination-item {
        @apply border border-solid border-default m-0 p-3 text-base text-default-text;
        a {
          @apply text-inherit transition;
        }
        &:hover a {
          @apply text-primary;
        }
        &:nth-child(2) {
          @apply rounded-tl-md rounded-tr-none rounded-br-none rounded-bl-md;
        }
        &:nth-last-child(2) {
          @apply rounded-tl-none rounded-tr-md rounded-br-md rounded-bl-none;
        }
      }

      &.ant-pagination-item-active {
        a {
          @apply text-primary;
        }
      }

      &.ant-pagination-prev,
      &.ant-pagination-next {
        @apply hidden;
      }
    }
  }
}

// Drawer

div.ant-drawer {
  .ant-drawer-body {
    padding: 0;
  }
}

// Tabs

div.ant-tabs {
  @apply flex-auto;
  .ant-tabs-nav {
    @apply bg-white rounded-xl shadow-md p-6 font-medium mb-4;
    .ant-tabs-tab {
      @apply p-0 pb-2 text-sm;
      &:hover {
        .ant-tabs-tab-btn {
          @apply text-primary text-opacity-70;
        }
      }
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          @apply text-primary;
        }
      }
    }
    .ant-tabs-nav-operations {
      .ant-tabs-nav-more {
        @apply py-0;
      }
    }
    .ant-tabs-ink-bar {
      @apply bg-primary;
    }
  }
  .ant-tabs-content-holder {
    @apply flex flex-col flex-auto;
    .ant-tabs-content {
      @apply flex flex-col flex-auto;
      .ant-tabs-tabpane-active {
        @apply flex flex-col flex-auto;
      }
    }
  }
}

// Checkbox

div.ant-checkbox-group {
  .ant-checkbox-wrapper {
    @apply ml-0;
  }
}

label.ant-checkbox-wrapper {
  @apply text-[1em];
  &:hover {
    .ant-checkbox {
      .ant-checkbox-inner {
        @apply border-primary;
      }
    }
  }
  &.ant-checkbox-wrapper-checked {
    .ant-checkbox {
      &:after {
        @apply border-none;
      }
      .ant-checkbox-inner {
        @apply bg-primary border-primary;
      }
    }
  }
  .ant-checkbox {
    @apply leading-[normal];
    .ant-checkbox-inner {
      @apply h-4 w-4 border-default;

      &:after {
        @apply h-[70%] w-[40%];
      }
    }
    // input {
    //   @apply h-0 w-0;
    // }
  }
}

// Checkbox

div.ant-checkbox-group {
  .ant-checkbox-wrapper {
    @apply ml-0;
  }
}

label.ant-checkbox-wrapper {
  @apply text-[1em];
  &:hover {
    .ant-checkbox {
      .ant-checkbox-inner {
        @apply border-primary;
      }
    }
  }
  &.ant-checkbox-wrapper-checked {
    .ant-checkbox {
      &:after {
        @apply border-none;
      }
      .ant-checkbox-inner {
        @apply bg-primary border-primary;
      }
    }
  }
  .ant-checkbox {
    @apply leading-[normal];
    .ant-checkbox-inner {
      @apply h-4 w-4 border-default-secondary;

      &:after {
        @apply h-[70%] w-[40%];
      }
    }
    // input {
    //   @apply h-0 w-0;
    // }
  }
}

// Radio

div.ant-radio-group {
  @apply text-[1em];
  .ant-radio-wrapper {
    @apply ml-0;
  }
}

label.ant-radio-wrapper {
  @apply text-[1em];
  &:hover {
    .ant-radio {
      .ant-radio-inner {
        @apply border-primary;
      }
    }
  }
  &.ant-radio-wrapper-checked {
    .ant-radio {
      &:after {
        @apply border-none;
      }
      .ant-radio-inner {
        @apply bg-white border-primary;
      }
    }
  }
  .ant-radio {
    @apply leading-[normal];

    .ant-radio-inner {
      @apply border-default-secondary shadow-none h-4 w-4;

      &:after {
        @apply h-4 w-4 -ml-2 -mt-2 bg-primary;
      }
    }
  }
}

// Textarea

textarea.ant-input {
  @apply p-4 rounded-lg text-sm focus:border-primary-500 focus:ring-0 focus:shadow-input hover:border-primary-500 bg-white border text-black;
}

// Timepicker

div.ant-picker-dropdown {
  .ant-picker-panel,
  .ant-picker-panel-container {
    .ant-picker-ok {
      button.ant-btn-primary {
        @apply bg-primary-500 border-primary-500 hover:bg-primary-500 hover:shadow-lg active:bg-primary-700 active:shadow-lg text-white disabled:bg-[#f5f5f5] disabled:cursor-not-allowed disabled:border-gray-300;
      }
    }
  }
}

// Popover

div.ant-popover {
  @apply p-0;

  .ant-popover-content {
    .ant-popover-inner {
      @apply rounded-xl bg-transparent;
      .ant-popover-inner-content {
        @apply bg-white border-casper-500 rounded-[inherit];
      }
    }
  }
  &.ant-popover-placement-top {
    .ant-popover-content {
      .ant-popover-inner {
        .ant-popover-inner-content {
          @apply -mb-48;
        }
      }
    }
  }
  &.ant-popover-placement-bottom {
    .ant-popover-content {
      .ant-popover-inner {
        .ant-popover-inner-content {
          @apply -mt-48;
        }
      }
    }
  }
}
.ant-image-preview-img-wrapper {
  @apply flex justify-center items-center h-full;
}

.dashboard-advance-calendar .ant-picker-calendar {
  /* Your custom styles here */
  @apply bg-transparent;
  .ant-picker-panel {
    @apply p-5 rounded-md overflow-hidden shadow-md;
    .ant-picker-body th {
      @apply py-5 text-center font-bold;
    }
  }
  .ant-select {
    @apply flex justify-between;
    .ant-select-selector {
      @apply w-full transition focus-within:border-primary-500 focus-within:shadow-input focus-within:ring-0 shadow rounded-md;
    }
  }
  .ant-picker-calendar-date-today {
    @apply border-primary-500;
  }
}

.dashboard-advance-calendar .ant-picker-cell-disabled {
  /* Styles for disabled cells */
  border: 1px solid red;
}
